@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
   margin: 0px;
   padding: 0px;
}

body {
  margin: auto;
  font-family: 'Lato', sans-serif;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 75px;
  background: #5D4293;
  padding-left: 1em;
  padding-right: 1em;
  position: fixed;
  box-sizing: border-box;
  overflow: hidden;
  top: 0;
}

nav a {
  color: white;
  text-decoration: none;
}

ul {
  display: flex;
  list-style: none;
}

li {
  margin: 1em;
}

li a {
  color: white;
  text-decoration: none;
  font-size: 2em;
}

main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: .5em;
  margin-top: 75px;
}

article {
  width: 50%;
  height: 25em;
  background-image: url(https://images.unsplash.com/photo-1532598187460-98fe8826d1e2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2048&q=80);
  background-size: cover;
  background-position: center;
  padding: 1em;
  box-sizing: border-box;
  padding-top: 21em;
}

article h2 {
  color: white;
  text-shadow: 2px 2px 15px rgba(0, 0, 0, 0.5);
}

article p {
  color: white;
  text-shadow: 2px 2px 15px rgba(0, 0, 0, 0.5);
}

article a {
  text-decoration: none;
}

#fixedbutton {
  position: fixed;
  bottom: .5em;
  right: .5em;
  color: #75ADB3;
  font-size: 4em;
  background-color: white;
  border-radius: 20em;
  box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 100px 80px rgba(0, 0, 0, 0.12)
; }

#fixedbutton2 {
  position: fixed;
  bottom: .5em;
  left: .5em;
  color: #75ADB3;
  font-size: 4em;
  background-color: white;
  border-radius: 20em;
  box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 100px 80px rgba(0, 0, 0, 0.12)
; }


#video-detail {
  width: 100%;
  height: 90vh;
  padding-top: 1em;
}


#profiel {
  display: flex;
  justify-content: space-between;
}

.profielfoto {
  width: 100%;
  max-width: 75px;
  height: 75px;
}

#profiel-1 {
  display: flex;
}

#profiel-1 p {
  align-self: flex-end;
  margin-left: -4.2em;
  margin-bottom: 1.4em;
}

#profiel-1 h2 {
  margin-left: 1em;
}

#profiel-2 {
  display: flex;
}

#profiel-2 p {
  font-size: 3em;
}

#profiel-2 a {
  color: #A9A9A9;
  text-decoration: none;
  font-size: 3em;
  margin-left: .5em;
}

#red {
  color: #FF0000;
}


#overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 2;
  cursor: pointer;
}

#text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
}

.active {
  color: #A578FC;
}
